{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home
{% endblock %}

{% block body %}
	<div class="pt-5 mt-5">
		<div class="container d-flex flex-column bg-dark align-items-center border border-primary rounded">
			<h1 class="mt-2 py-5">Black Metal Archives</h1>
			<div class="container fs-4 d-flex justify-content-center">
				<img class="img mb-4" height="600" src="{{ asset('build/images/Baphomet.webp') }}">
			</div>
		</div>
	</div>
{% endblock %}
