{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home
{% endblock %}

{% block body %}
	<div class="pt-5 mt-5">
		<div class="container d-flex flex-column align-items-center border border-primary rounded">
			<h1 class="mt-2 py-5">Black Metal Archives</h1>
			<div class="container fs-4 d-flex justify-content-center">
				This unfriendly message is coming from:
				<ul>
					<li>Your controller at
						<code>
							<a href="{{ '/home/skv666/black-metal-archives/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a>
						</code>
					</li>
					<li>Your template at
						<code>
							<a href="{{ '/home/skv666/black-metal-archives/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a>
						</code>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
