@import "_theme.scss";
@include color-mode(light);

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: $font-title;
    font-size: $font-size-title;
}

.container {
    font-family: $font-base;
    a {
        font-family: $font-base;
        text-decoration: none;
        color: $primary-light;
        transition: 250ms;
    }
    a:hover {
        color: $primary-dark;
    }
}

.table {
    th, td {
    color: $primary;
    }
}

.btn {
    transition: 250ms;
    color: $primary-light;
}

.btn:hover {
    background-color: $primary;
}

a .btn:hover {
    color: $dark;
}

.custom-form select {
    color: $primary;
}

.vich-file {
    color: $dark;
}
// .placeholder-style {
//     color: $primary;
// }