{% extends 'base.html.twig' %}

{% block title %}New Release
{% endblock %}

{% block body %}
	<div class="pt-5 mt-5 pb-4">
		<div class="container bg-dark flex-column align-items-center border border-primary rounded">
			<h1 class="mt-2 pt-5 pb-2 text-center">Add a new <span class="custom-text">{{ band }}</span> Release</h1>

			{{ component ('SongTracklistComponent', { album: album }) }}

			<div class="border-top border-primary mt-5">
				<div class="my-5 mx-3 d-flex justify-content-around align-items-center w-100">
					<a role="button" class="btn border border-primary color-primary-light btn-lg pb-1" href="{{ app.request.headers.get('referer') }}">Return</a>
					<button type="submit" class="btn border border-primary color-primary-light btn-lg pb-1">
						{{ button_label|default('Submit') }}
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
